.hidden {
  display: none;
}

a.pr-link {
  color: inherit;
  :hover {
    text-decoration: none;
  };
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 20px;
}

div.prList {
  margin-top: 20px;
}

div.prList > .row:nth-child(odd) {
  background-color: #f8f8fc;
}

div.pull-request {
  border-top: 1px solid #888;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.pull-request:hover {
  background-color: #dde;
}

div.pr-title-row {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

span.pr-repo-name {
  color: #767676;
  margin-right: 1ex;
}

div.pr-subtitle {
  color: #555;
  font-size: 12px;
  text-decoration: italic;
}