body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #333;
  background-color: #888;
}

.container {
  background-color: #fff;
  min-height: 100vh;
}

.hidden {
  display: none;
}

a.pr-link {
  color: inherit;
  :hover {
    text-decoration: none;
  };
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 20px;
}

div.prList {
  margin-top: 20px;
}

div.prList > .row:nth-child(odd) {
  background-color: #f8f8fc;
}

div.pull-request {
  border-top: 1px solid #888;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.pull-request:hover {
  background-color: #dde;
}

div.pr-title-row {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

div.pr-title-row .label {
  margin-left: 10px;
}

span.pr-repo-name {
  color: #767676;
  margin-right: 1ex;
}

div.pr-subtitle {
  color: #555;
  font-size: 12px;
  text-decoration: italic;
}

/* tags */

.react-tagsinput-tag {
  color: inherit;
  border-color: #ccc;
  background-color: #f8f8fc;
}
.react-tagsinput--focused {
  border-color: #dde;
}
.react-tagsinput-remove {
  color: inherit;
}

.react-tagsinput-input {
  width: 200px;
}

div.ribbon-wrapper {
  position: relative;
  top: 0;
  right: 0;
}
